@import "tailwindcss";

@font-face {
    font-family: 'NULL';
    src: url('./assets/fonts/Null_Free.woff') format('woff'); /* Adjust path if needed */
    font-weight: normal;
    font-style: normal;
  }

.grd{
    display: grid;
    grid-column:4;
    grid-row: 4;
    grid-template-columns: repeat(4,1fr) ;
    grid-template-rows: repeat(4,1fr);
    row-gap: 15px;
}

.card-1{
    background-color: white;
    border-color: maroon;
    border-radius: 5px;
    width: 300px;
    height: 60vh;
}

.card-2{
    background-color: white;
    border-color: maroon;
    border-radius: 5px;
    width: 300px;
    height: 60vh;
}

.card-3{
    background-color: white;
    border-color: maroon;
    border-radius: 5px;
    width: 300px;
    height: 60vh;
}

.card-4{
    background-color: white;
    border-color: maroon;
    border-radius: 5px;
    width: 300px;
    height: 60vh;
}

.card-5{
    background-color: white;
    border-color: maroon;
    border-radius: 5px;
    width: 300px;
    height: 60vh;
}

.card-6{
    background-color: white;
    border-color: maroon;
    border-radius: 5px;
    width: 300px;
    height: 60vh;
}

.card-7{
    background-color: white;
    border-color: maroon;
    border-radius: 5px;
    width: 300px;
    height: 60vh;
}

.card-8{
    background-color: white;
    border-color: maroon;
    border-radius: 5px;
    width: 300px;
    height: 60vh;
}

.card-9{
    background-color: white;
    border-color: maroon;
    border-radius: 5px;
    width: 300px;
    height: 60vh;
}

.card-10{
    background-color: white;
    border-color: maroon;
    border-radius: 5px;
    width: 300px;
    height: 60vh;
}

.card-11{
    background-color: white;
    border-color: maroon;
    border-radius: 5px;
    width: 300px;
    height: 60vh;
}

.card-12{
    background-color: white;
    border-color: maroon;
    border-radius: 5px;
    width: 300px;
    height: 60vh;
}

.card-13{
    background-color: white;
    border-color: maroon;
    border-radius: 5px;
    width: 300px;
    height: 60vh;
}

.card-14{
    background-color: white;
    border-color: maroon;
    border-radius: 5px;
    width: 300px;
    height: 60vh;
}

.card-15{
    background-color: white;
    border-color: maroon;
    border-radius: 5px;
    width: 300px;
    height: 60vh;
}

.card-16{
    background-color: white;
    border-color: maroon;
    border-radius: 5px;
    width: 300px;
    height: 60vh;
}

.navbar{
    color: maroon;
}
